.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    background-color: grey;
}

.nav {
    display: flex;
}

.categoriesWrapper {
    display: flex;
}

.curWrapper {
    margin-right: 25px;
}

.trail {
    display: flex;
}